server:
  port: 8888

spring:
  jpa:
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update

  #datasource:
    #username: root
    #password: root
    #driver-class-name: com.mysql.jdbc.Driver
    #url: jdbc:mysql://localhost:3306/db_house

  druid:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/db_house?characterEncoding=utf-8
    username: root
    password: root
  # 最大连接数
    maxActive: 30
  # 最小连接数
    minIdle: 5
  # 获取连接的最大等待时间
    maxWait: 10000
  # 解决mysql 8小时的问题
    validationQuery: SELECT 'X'
  # 空闲连接检查时间间隔
    timeBetweenEvictionRunMillis: 60000
  # 空闲连接的最小空闲时间
    minEvictableIdleTimeMillis: 300000
mybatis:
  config-location: classpath:/mybatis/mybatis-config.xml
