<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 配置关闭缓存 -->
        <setting name="cacheEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <!-- 事务超时时间 -->
        <setting name="defaultStatementTimeout" value="600"/>
    </settings>

    <!-- 配置别名 -->
    <typeAliases>
        <typeAlias type="com.znlccy.house.common.model.House" alias="house" />
        <typeAlias type="com.znlccy.house.common.model.Blog" alias="blog" />
        <typeAlias type="com.znlccy.house.common.model.Admin" alias="admin" />
        <typeAlias type="com.znlccy.house.common.model.Agency" alias="agency" />
        <typeAlias type="com.znlccy.house.common.model.Comment" alias="comment" />
        <typeAlias type="com.znlccy.house.common.model.Community" alias="community" />
        <typeAlias type="com.znlccy.house.common.model.Permission" alias="permission" />
        <typeAlias type="com.znlccy.house.common.model.Role" alias="role" />
        <typeAlias type="com.znlccy.house.common.model.User" alias="user" />
        <typeAlias type="com.znlccy.house.common.model.UserMsg" />
    </typeAliases>

    <!-- 配置映射类 -->
    <mappers>
        <mapper resource="mapper/house.xml" />
        <mapper resource="mapper/blog.xml" />
        <mapper resource="mapper/admin.xml" />
        <mapper resource="mapper/agency.xml" />
        <mapper resource="mapper/comment.xml" />
        <mapper resource="mapper/community.xml" />
        <mapper resource="mapper/permission.xml" />
        <mapper resource="mapper/role.xml" />
        <mapper resource="mapper/user.xml" />
    </mappers>

</configuration>